<nav class="card-nav">
    <div class="card-links">
        <a href="{{ path('card') }}">Card</a>
        <a href="{{ path('deck') }}">Deck</a>
        <a href="{{ path('deck_shuffle') }}">Shuffle</a>
        <a href="{{ path('deck_draw') }}">Draw</a>
        <a href="{{ path('draw_start') }}">Draw Multiple</a>
    </div>
</nav>