{% extends 'base.html.twig' %}

{% block body %}
    <div class="book-container">
        <div class="book-info">
            <div class="book-image">
              <img src="{{ book.image }}" alt="Book Image">
            </div>
            <div class="book-details">
                <p>{{ book.title }}</p>
                <p class="author">{{ book.name }}</p>
                <p class="isbn">{{ book.isbn }}</p>
            </div>
        </div>
        <div class="button-wrapper">
            <a class="button" href="{{ path('library') }}">Tillbaka</a>
        </div>
    </div>
{% endblock %}
